/*General Stylesheet for the websit*/
h1 {
  font-family: "Rampart One", cursive, Arial, Helvetica, sans-serif;
  text-align: justify;
}

p {
  text-align: justify;
}

body {
  background-color: yellow;
  font-family: cursive, Arial, Helvetica, sans-serif;
}

span {
  background-color: rgb(39, 36, 32);
  color: greenyellow;
}

.container-header {
  background-color: grey;
  color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15%;
  padding-right: 15%;
}

.content-middle {
  margin-left: 15%;
  margin-right: 15%;
}

.list-class {
  background-color: navy;
  color: brown;
}

.container-header .header-text {
  display: inline-block;
  margin-right: 24px;
  text-shadow: 2px 2px 10px #000;
}

.container-header .header-logo {
  display: inline-block;
  margin-right: 24px;
}

.paragraph:nth-child(1)::first-letter {
  color: red;
  font-size: 2rem;
}

.content-middle .mountain-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.mountain-image {
  width: 25%;
  height: 25%;
}

a .laptop-image{
  position: fixed;
  right: 0px;
  top: 0;
}

.container-footer {
  background-color: blanchedalmond;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15%;
  padding-right: 15%;
}

.footer-about-us {
  display: inline-block;
  margin-right: 48px;
}

.footer-about-us:hover {
  background-color: black;
  color: white;
}

ul.about-us-list1 {
  list-style-type: none;
  padding: 0px;
}

ul.about-us-list2 {
  list-style-type: none;
  padding: 0px;
}
